.header {
    text-align: center;
    color: white;
    background-color: black;
    font-size: 30px;
    width: 100vw;
    position: fixed;
    /* Fixed position */
    top: 0;
    /* Align with the top edge of the viewport */
    left: 0;
    /* Align with the left edge of the viewport */
    width: 100%;
    /* Full width */
    z-index: 999;
    /* Ensure it appears above other content */
    height: 18vh;
    color: white;
    align-items: center;
}
.icon-column{
    position: fixed;
    top: 4px;     /* Align with the top edge of the viewport */
    right: 10px;  /* Offset from the right edge for visibility */
    z-index: 1001; /* Ensure it appears above the header and other content */
    display: flex;
    flex-direction: column; /* Stack the icons vertically */
    align-items: flex-end !important;
    justify-content: center;
    margin: auto 0px;
    

}

.flag {
    z-index: 1000;
    height: 30px;
    text-align: right !important;
    filter: grayscale(100%); /* Adds the grayscale effect */
    transition: all 0.3s;    /* Smooth transition effect */
    cursor: pointer;         /* Hand cursor on hover for better UX */
    margin-right: 10px;
    margin-top: 5px;
}
.flag.active-flag {
    transform: scale(1.2);   /* Scales the image */
    filter: none;            /* Removes the grayscale effect */
}


.header-title {
    font-size: 24px;
    line-height: 1.2;
    flex: 1;
    /* Make it take the available space so the text remains centered */
    text-align: center;
    /* Ensure the text remains centered */
}

.icon-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-basis: 10%;
    /* This gives the icon column a fixed width relative to the header */
}

.icon-column i {
    margin: 5px 0;
    font-size: 20px;
}


nav {
    z-index: 100;
    position: relative;
}

.file-folder-nav {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f5f5f5;
    justify-content: space-evenly;
    text-align: center;
    padding-left: 0;
    margin-bottom: 10px;
}

.file-folder-nav li {
    list-style-type: none;
    /* border: 1px solid black; */
    padding: 10px 8px;
}

.file-folder-nav li img,
.file-folder-nav li i {
    height: 25px
}

.folder-tab {
    padding: 10px 20px;
    cursor: pointer;
    border-top: 2px solid transparent;
    justify-content: center;
}

.folder-tab.active {
    border-top: 2px solid red;
}

.folder-content {
    display: none;
    border: none;
    padding: 20px;
    background: #fff;
    margin-bottom: 40px;
    /* Adjust according to the height of the tabs */
    text-align: center;
    margin-top: 15vh;
    justify-content: center;
}

.folder-content.active {
    display: block;
    justify-content: center;
}

.folder-content h1 {
    margin-bottom: 15px;
}

/* ---------tabs content------- */
.card-tapa {
    margin: auto;
    margin-bottom: 15px;
}

.card-body-top {
    padding: 10px 0 !important;
}

.card-body-bottom {
    padding-top: 0 !important;
    padding-bottom: 10px !important;
}

.card-body-bottom i {
    font-size: 25px;
}

/* ----------drink cards-------------- */
.drink-card {
    margin-bottom: 10px;
}



/* ------------ wine cards--------- */

.wine-card {
    margin-bottom: 10px;
}

.wine-card img {
    height: 100% !important;
    /* This will make the image take the full width of its container (the card). */
    max-width: 50px !important;
    /* This sets a maximum width for the image. Adjust as needed. */
    margin: auto;
}

.red-wine {
    border: #5c011f69 3px solid !important;
}

.white-wine {
    border: #d2f47c93 3px solid !important;
}

.rose-wine {
    border: #ffc1c1d7 3px solid !important;
}

.cava-wine {
    border: #FAE6C0 3px solid !important;
}