nav {
    z-index: 100;
    position: relative;
}

.file-folder-nav {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f5f5f5;
    justify-content: space-evenly;
    text-align: center;
    padding-left: 0;
    margin-bottom: 10px;
}

.file-folder-nav li {
    list-style-type: none;
    /* border: 1px solid black; */
    padding: 10px 8px;
}

.file-folder-nav li img,
.file-folder-nav li i {
    height: 25px
}

.folder-tab {
    padding: 10px 20px;
    cursor: pointer;
    border-top: 2px solid transparent;
    justify-content: center;
}

.folder-tab.active {
    border-top: 2px solid red;
}

.folder-content {
    display: none;
    border: none;
    padding: 20px;
    background: #fff;
    margin-bottom: 40px;
    /* Adjust according to the height of the tabs */
    text-align: center;
    margin-top: 15vh;
    justify-content: center;
}

.folder-content h1 {
    margin-top: 15px;
}

.folder-content.active {
    display: block;
    justify-content: center;
}

.folder-content h1 {
    margin-bottom: 15px;
}